.tabs {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    margin: 10px;
    padding: 1px;
    background-color: beige;
}

.container h1{
    color:brown;
}

.container p{
    font-size: large;
    font-family: Arial;
}

.gallery h1{
    text-align: center;
    color: brown;
}

.home h1{
    color:brown;
}

.home {
    background-color: rgb(162, 240, 162);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.tabs a:link {
    color: blue;
}

.tabs a:visited {
    color: blue;
}

a:hover {
    opacity: 1;
    background-color: lightgrey;
}

.item p {
    text-align: center;
}

.bottom
{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
